# file
# jquery
/JavaScript/js_jquery/package.json
/JavaScript/js_jquery/package-lock.json

# python
*.pyc


# folder

# idea
.idea/

# jquery
node_modules/

# django
#/python/django_learn/learn/django_node/django/obj/django_temp1_demo1/.idea/*
